-o ./_yardoc
-m markdown -M redcarpet
--verbose
--protected
--no-private
--exclude debugger.rb
--exclude redis.rb
--exclude readline.rb
--exclude postgres.rb
--exclude zlib_conf.rb
--exclude extconf.rb
--exclude mysql2.rb
--exclude sequel.rb
--exclude event.c
--exclude backend.+\.c
-r docs/readme.md
./lib
./ext/polyphony
-
docs/readme.md
docs/overview.md
docs/tutorial.md
docs/faq.md
docs/concurrency.md
docs/fiber-scheduling.md
docs/exception-handling.md
docs/extending.md
docs/design-principles.md
CHANGELOG.md
LICENSE