-m markdown
-M kramdown
-o ./_yardoc
-r ./README.md
--verbose
--protected
--no-private
--asset assets/:assets
--exclude debugger.rb
--exclude redis.rb
--exclude readline.rb
--exclude postgres.rb
--exclude zlib_conf.rb
--exclude extconf.rb
--exclude mysql2.rb
--exclude sequel.rb
--exclude event.c
--exclude backend.+\.c
./lib
./ext/polyphony
-
CHANGELOG.md
