.navigation-list-item.section-title {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

span.section-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #888;
}

.navigation-list-item .navigation-list-child-list {
  display: block;
}

.navigation-list-child-list {
  padding-left: 0;

  .navigation-list-item {
    position: relative;

    &::before {
      position: absolute;
      margin-top: 0.3em;
      margin-left: -0.8em;
      color: rgba($body-text-color, 0.3);
      content: "";
    }
  }
}

a.navigation-list-link {
  margin-left: 4px;
  padding-left: 4px;
  color: $nav-child-link-color;
  font-weight: 600;
}

a.navigation-list-link.active {
  margin-left: 0;
  border-left: 4px #6ae solid;
}

a.navigation-list-link:hover {
  color: $link-color;
}